# Dependencies
node_modules/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Runtime
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# IDE
.vscode/
.idea/

# Local env
local/
temp/
.gitnexus
nvm-setup.exe
download
**/__pycache__/
*.pyc
.env
